<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="dwa_demoFrame">
		<title>DWA planner work demonstration program</title>
		<centered>1</centered>
		<size>960,700</size>
		<bg>wxSYS_COLOUR_WINDOW</bg>
		<id_arg>0</id_arg>
		<style>wxCAPTION|wxCLOSE_BOX|wxMINIMIZE_BOX</style>
		<handler function="OnClose" entry="EVT_CLOSE" />
		<object class="wxPanel" name="ID_CONTROL_PANEL" variable="control_panel" member="yes">
			<pos>740,10</pos>
			<size>210,460</size>
			<style>wxBORDER_SIMPLE|wxTAB_TRAVERSAL</style>
			<object class="wxButton" name="ID_START_BUTTON" variable="start_button" member="yes">
				<label>Start</label>
				<pos>10,425</pos>
				<size>80,30</size>
				<handler function="OnStartButtonClick" entry="EVT_BUTTON" />
			</object>
			<object class="wxButton" name="ID_NEW_MAP_BUTTON" variable="new_map_button" member="yes">
				<label>New map</label>
				<pos>120,425</pos>
				<size>80,30</size>
				<focused>1</focused>
				<handler function="OnNewMapButtonClick" entry="EVT_BUTTON" />
			</object>
			<object class="wxCheckBox" name="ID_SBS_CHECKBOX" variable="sbs_checkbox" member="yes">
				<label>&quot;Step by step&quot; mode</label>
				<pos>8,390</pos>
			</object>
			<object class="wxTextCtrl" name="ID_ROBOTX_TEXTCTRL" variable="robot_x_txt_ctrl" member="yes">
				<value>1.0</value>
				<pos>5,35</pos>
				<size>60,30</size>
			</object>
			<object class="wxTextCtrl" name="ID_ROBOTY_TEXTCTRL" variable="robot_y_txt_ctrl" member="yes">
				<value>1.0</value>
				<pos>70,35</pos>
				<size>60,30</size>
			</object>
			<object class="wxTextCtrl" name="ID_ROBOTTH_TEXTCTRL" variable="robot_th_txt_ctrl" member="yes">
				<value>0.0</value>
				<pos>135,35</pos>
				<size>60,30</size>
			</object>
			<object class="wxTextCtrl" name="ID_GOALX_TEXTCTRL" variable="goal_x_txt_ctrl" member="yes">
				<value>5.0</value>
				<pos>5,110</pos>
				<size>60,30</size>
				<tooltip>Press Enter after input</tooltip>
				<style>wxTE_PROCESS_ENTER</style>
				<handler function="onGoalTextEnter" entry="EVT_TEXT_ENTER" />
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
				<label>Robot pose (x,y,theta):</label>
				<pos>5,5</pos>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
				<label>Goal position (x,y):</label>
				<pos>8,80</pos>
			</object>
			<object class="wxTextCtrl" name="ID_GOALY_TEXTCTRL" variable="goal_y_txt_ctrl" member="yes">
				<value>5.0</value>
				<pos>80,110</pos>
				<size>60,30</size>
				<tooltip>Press Enter after input</tooltip>
				<style>wxTE_PROCESS_ENTER</style>
				<handler function="onGoalTextEnter" entry="EVT_TEXT_ENTER" />
			</object>
			<object class="wxTextCtrl" name="ID_CF_TXTCTRL" variable="contr_freq_txt_ctrl" member="yes">
				<value>0.5</value>
				<pos>5,350</pos>
				<size>50,30</size>
				<handler function="OnTextCtrl6Text" entry="EVT_TEXT" />
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
				<label>Controller&#x0A;frequency (Hz):</label>
				<pos>5,300</pos>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
				<label>World&#x0A;time (s):</label>
				<pos>135,300</pos>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText5" member="yes">
				<label>0.000</label>
				<pos>135,355</pos>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticText6" member="yes">
				<label>Motor max. speed and&#x0A;acceleration (1/s, 1/s^2):</label>
				<pos>5,152</pos>
			</object>
			<object class="wxTextCtrl" name="ID_TEXTCTRL7" variable="TextCtrl7" member="yes">
				<value>5.0</value>
				<pos>5,200</pos>
				<size>60,30</size>
				<handler function="OnTextCtrl7Text" entry="EVT_TEXT" />
			</object>
			<object class="wxTextCtrl" name="ID_TEXTCTRL8" variable="TextCtrl8" member="yes">
				<value>2.5</value>
				<pos>80,200</pos>
				<size>60,30</size>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT7" variable="StaticText7" member="yes">
				<label>Braking distance (m):</label>
				<pos>5,240</pos>
			</object>
			<object class="wxTextCtrl" name="ID_TEXTCTRL9" variable="TextCtrl9" member="yes">
				<value>0.1</value>
				<pos>5,265</pos>
				<size>60,30</size>
			</object>
		</object>
		<object class="wxPanel" name="ID_MAP_PANEL" variable="map_panel" member="yes">
			<pos>10,10</pos>
			<size>720,680</size>
			<bg>#FFFFFF</bg>
			<style>wxBORDER_SIMPLE|wxTAB_TRAVERSAL</style>
			<handler function="Onfield_panelPaint" entry="EVT_PAINT" />
			<object class="Custom" name="ID_FIELD_DC_CLIENT" subclass="wxClientDC" variable="field_dc_client" member="yes">
				<creating_code>$(THIS) = new $(CLASS)($(PARENT));</creating_code>
				<include_file>wx/dcclient.h</include_file>
				<style></style>
				<pos>8,24</pos>
				<size>56,72</size>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT8" variable="StaticText8" member="yes">
				<label>(7.2 m; 6.8 m)</label>
				<pos>624,648</pos>
			</object>
		</object>
		<object class="wxPanel" name="ID_DWA_PANEL" variable="dwa_panel" member="yes">
			<pos>740,480</pos>
			<size>210,210</size>
			<style>wxBORDER_SIMPLE|wxTAB_TRAVERSAL</style>
			<object class="Custom" name="ID_DWA_DC_CLIENT" subclass="wxClientDC" variable="dwa_dc_client" member="yes">
				<creating_code>$(THIS) = new $(CLASS)($(PARENT));</creating_code>
				<style></style>
				<pos>16,16</pos>
				<size>47,47</size>
			</object>
		</object>
		<object class="wxTimer" name="ID_WORLD_TIMER" variable="world_timer" member="yes">
			<interval>25</interval>
			<handler function="mainTimerTickEvt" entry="EVT_TIMER" />
		</object>
		<object class="wxTimer" name="ID_CONTROLLER_TIMER" variable="controller_timer" member="yes">
			<interval>500</interval>
			<handler function="controllerTimerTickEvent" entry="EVT_TIMER" />
		</object>
	</object>
</wxsmith>
